/*----------- СБРОС СТИЛЕЙ ----------*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0 auto;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--text-color);
}

a:hover {
  color: var(--accent-color);
  transition: all 0.2s ease;
}

.popup__list {
  list-style: none;
  padding: 0;
  margin: 0 0 0 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

/* -------- ОСНОВНЫЕ СТИЛИ -------- */
.section {
  width: 100%;
  min-height: 960px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.visibly-hidden {
  visibility: hidden;
  opacity: 0;
}

.title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  font-size: 80px;
  letter-spacing: 3px;
  line-height: 1;
  text-transform: uppercase;
}

.subtitle {
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

picture img {
  max-width: 100%;
  height: auto;
  display: block;
}

.menu__button {
  display: none;
}

/* ---------- HEADER -------------- */

.header__wrapper {
  background: url("../img/home_bg.jpg") center/cover no-repeat; /* /sos/img/home_bg.jpg */
}

.header__logo {
  margin-left: 10px;
}

.header__container {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  padding: 0;
  margin: 0 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
}

.logo__img {
  width: 55px;
  height: 55px; /* 4 коммент, пофиксила размер лого в хедере */
  object-fit: contain;
  object-position: center;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.header__item:not(:last-child) {
  margin-right: 40px;
}

.nav-link {
  text-transform: uppercase;
  color: var(--text-color);
  padding: 10px; /* 5 коммент, добавила паддинги и поменяла внешние отступы в навигацию хэдера (в футер тоже) */
}

.header__right {
  display: flex;
  align-items: center;
}

.header__popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 999;
}

.header__popup.active-popup {
  visibility: visible;
  opacity: 1;
}

.popup__link:hover {
  color: var(--accent-color);
}

.popup__link {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2px;
}

.popup__icon {
  width: 30px;
  height: auto;
  margin: 0 10px;
}

.header__icons {
  display: flex;
  align-items: center;
}

.header__icon {
  margin-right: 17px;
  width: 35px;
  height: 35px;
  position: relative;
  padding: 5px;
}

.icon__img {
  transition:  all 0.2s ease;
}

.icon__img:hover {
  filter: brightness(0.8);
}

.header__language {
  border-right: solid 1px var(--text-color);
  padding-right: 15px;
  margin-right: 15px;
  min-height: 30px;
  display: flex;
  position: relative;
}

.language__button {
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  color: var(--text-color);
  border: none;
  padding: 5px 25px 5px 5px;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  transition: all 0.2s ease;
}

.language__button::after {
  content: "";
  position: absolute;
  top: 40%;
  right: 8px;
  width: 10px;
  min-height: 7px;
  background: url("../img/arrow.svg") center/cover no-repeat;
}

.language__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 55px;
  position: absolute;
  top: 100%;
  left: -5px;
  background-color: var(--dark-color);
  border-radius: 5px;
  padding: 5px;
}

.language__value {
  background: var(--dark-color);
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  border: none;
  font-weight: 700;
  font-size: 12px;
}

.language__value:hover,
.language__button:hover {
  color: var(--accent-color);
}

/* --------- HOME ----------- */

.home {
  position: relative; /* зафиксировала стрелочку */
  padding: 0 0 100px;
}

.home::before { /* реализовала градиентную тень в первой секции */
  content: "";
  position: absolute;
  width: 100vw;
  height: 80px;
  inset-block: 93%;
  inset-inline: 0;
  background: linear-gradient(0, #0b0b0b, transparent);
  z-index: 9999;
}

.home::after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 80px;
  inset-block: 100%;
  background: linear-gradient(#0b0b0b, transparent);
  z-index: 9999;
}

.home__container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 170px;
  justify-content: center;
  align-items: center;
}

.home__title {
  margin: 0 auto; /* 2 коммент, центрировала заголовок */
}

.home__subtitle {
  margin-bottom: 28px;
}

.btn {
  background-color: var(--accent-color);
  color: var(--dark-color);
  border: none;
  min-height: 60px;
  height: auto; /* 1 коммент, исправлена высота кнопки, убрала фиксированную */
  padding: 5px 10px;
  width: 260px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn:hover {
  background-color: var(--text-color);
}

.story__container {
  display: flex;
  position: absolute;
  inset-block-end: 50px; /* 3 коммент, пофиксила позиционирование кнопки */
}

.story__link {
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  border: none;
  font-weight: 700;
  color: var(--text-color); /* 3 коммент, пофиксила цвет кнопки */
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 5px 25px;
}

.story__link::after {
  content: "";
  position: absolute;
  top: 60%;
  right: 25px;
  width: 25px;
  height: 11px;
  background: url("../img/scroll_down.svg") no-repeat;
}

/* --------- ABOUT ----------- */

.about {
  position: relative;
  padding-top: 0;
  background: url("../img/about_bg.jpg") center/cover no-repeat;
}

.about::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 70px;
  inset-block: 93%;
  inset-inline: 0;
  background: linear-gradient(0, #0b0b0b, transparent);
  z-index: 9999;
}

.about::after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 80px;
  inset-block: 100%;
  background: linear-gradient(#0b0b0b, transparent);
  z-index: 9999;
}

.about__container {
  position: relative;
  padding: 0;
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.about__title {
  width: 420px;
  position: relative;
  padding-bottom: 10px; 
}

.about__title::after {
  content: "";
  position: absolute;
  width: 450px;
  height: 3px;
  background-color: var(--text-color);
  left: 0; /* 6 коммент, пофиксила расположение псевдоэлемента */
  bottom: 0;
}

.about__subtitle {
  text-align: left;
}

.about__text {
  font-family: "Open Sans", sans-serif;
  line-height: 22px;
  font-size: 18px;
  inline-size: 365px;
  align-self: end;
  padding-top: 30px;
}

.about__text--accent {
  text-decoration: 4px underline var(--accent-color);
}

.separate-span {
  display: block;
  margin-top: 20px;
}

/* --------- ABOUT SLIDER --------- */

.slider__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  margin-left: 0;
  align-self: end;
  padding-bottom: 30px;
}

.slider__top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  width: 503px; /* исправить? */
  height: 610px; /* исправить? */
  overflow: hidden;
  border-radius: 10px;
  transition: 1s ease-in-out;
}

.slider__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.arrow-left, .arrow-right {
  margin-right: 15px;
  cursor: pointer;
  padding: 5px;
  transition: all 0.2s ease;
}

.arrow-left:hover,
.arrow-right:hover 
{
  filter: brightness(0.7);
}

.block {
  display: block;
}

.pagination-circle {
  width: 15px;
  height: 15px;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  cursor: pointer;
}

.active {
  background-color: var(--text-color);
}

.slider__bottom {
  display: flex;
  column-gap: 52px;
}

/*------------ FEATURES --------*/

.features {
  position: relative;
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  background: url("../img/features_bg.jpg") center/cover no-repeat;
}

.features::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 70px;
  inset-block: 93%;
  inset-inline: 0;
  background: linear-gradient(0, #0b0b0b, transparent);
  z-index: 9999;
}

.features::after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 80px;
  inset-block: 100%;
  background: linear-gradient(#0b0b0b, transparent);
  z-index: 9999;
}

.features__container {
  width: auto;
  height: 100%;
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 70px;
  margin-right: 0;
}

.features__info {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.features__title,
.features__subtitle {
  text-align: left;
}

/* ---------- FEATURES ACCORDION ------------- */

.accordion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.accordion__container {
  position: relative;
  padding: 0 10px;
  max-width: 460px; /* 8 коммент, вроде как пофиксила переполнение */
}

.accordion__container:not(:last-child) { 
  /* 7 коммент, пофиксила отступы и поменяла разметку на семантически верную */
  margin-bottom: 15px;
}

.accordion__title {
  position: relative;
  font-family: "Bebas Neue", sans-serif;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--accent-color);
  min-width: 450px;
  cursor: pointer;
  padding: 5px;
  transition: all 0.2s ease;
}

.accordion__content {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 22px;
  margin: 5px 0 20px;
  max-width: 363px;
}

.accordion__text {
  max-height: 0;
  overflow: hidden;
}

.accordion__title::before {
  content: "";
  border: 1px solid var(--text-color);
  border-radius: 50%;
  width: 14px;
  height: 14px;
  position: absolute;
  overflow: hidden;
  inset-inline: -25px;
  inset-block: 20px;
}

.accordion__title:hover {
  color: var(--text-color);
}

.accordion__container.active-accordion {
  margin-bottom: 0;
  padding-bottom: 10px;
}

.accordion__container.active-accordion .accordion__title::before {
  background-color: var(--text-color);
}

.accordion__container.active-accordion .accordion__text {
  max-height: 77px;
  background-color: transparent;
}

.accordion__container::after { /* вроде как решила вопрос с линией аккордеона, привязав псевдоэлемент к контейнеру, а не title */
  content: "";
  position: absolute;
  height: 0;
  width: 2px;
  top: 35px;
  bottom: 0;
  left: -10px;
  background-color: var(--text-color);
  transition: height 0.3s ease;
}

.accordion__container.active-accordion::after {
  height: 90%;
}

/* ------------------- REQUIREMENTS ----------- */

.requirements {
  position: relative;
  flex-direction: column;
  background: url("../img/req_bg.jpg") center/cover no-repeat;
}

.requirements::before { /* реализовала градиентную тень в первой секции */
  content: "";
  position: absolute;
  width: 100vw;
  height: 80px;
  inset-block: 93%;
  inset-inline: 0;
  background: linear-gradient(0, #0b0b0b, transparent);
  z-index: 9999;
}

.requirements::after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 80px;
  inset-block: 100%;
  background: linear-gradient(#0b0b0b, transparent);
  z-index: 9999;
}

.requirements__container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.requirements__sheet {
  align-self: flex-start;
  margin-top: 120px; /* 9 коммент, поменяла паддинг на марджин */
}

.requirements__title {
  text-align: center;
}

.requirements__list {
  display: grid;
  width: 573px; /* исправить? */
  height: 400px; /* исправить? */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  background-color: transparent;
  border: 1px solid #979797;
}

.requirements__item {
  border: 1px solid #979797;
  padding: 15px 10px 10px; /* пофиксила паддинги таблицы */
}

.requirements__item-title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--accent-color);
  margin: 0 0 10px;
}

.requirements__item-text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 22px;
}

.requirements__item-wide {
  grid-column: span 2;
}

/* -------------- QUOTES ----------- */

.quotes {
  position: relative;
  justify-content: flex-start;
  background: url("../img/quotes_bg.jpg") center/cover no-repeat;
}

.quotes::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 80px;
  inset-block: 93%;
  inset-inline: 0;
  background: linear-gradient(0, #0b0b0b, transparent);
  z-index: 9999;
}

.quotes::after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 80px;
  inset-block: 100%;
  inset-inline: 0;
  background: linear-gradient(#0b0b0b, transparent);
  z-index: 9999;
}

.quotes__container {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 0 30px 0 0;
}

.quotes__text {
  font-family: "Open Sans", sans-serif;
  line-height: 22px;
  font-size: 18px;
  width: 435px;
  margin-bottom: 53px;
}

.quotes__subtitle {
  text-align: left;
  margin-bottom: 10px;
}

.quotes__title {
  margin-bottom: 35px;
}

.quotes__btn {
  margin: 0;
}

/*---------------- QUOTES CARDS ---------*/

.cards__container {
  margin: 0 60px 0 auto;
}

.cards__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.cards__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  position: relative;
}

.cards__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 480px;
  flex-wrap: wrap;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.08);
  padding: 15px;
  border-radius: 10px;
  position: relative;
  margin-bottom: 15px;
}

.cards__item--1 {
  transform: translateX(60px);
}

.cards__item--2 {
  transform: translateX(-60px);
}

.cards__item--3 {
  transform: translateX(20px); /* пофиксила отступ */
}

.cards__link {
  width: 280px;
}

.cards__icon {
  position: absolute;
  right: 0;
  inset-block: 10px; /* вроде как пофиксила иконку в карточке, отступы */
  width: 29px;
  height: 29px;
  padding: 5px;
  transition: all 0.2 ease;
}

.cards__icon {
  filter: brightness(0.7);
}

.cards__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.cards__title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 600;
  color: var(--accent-color);
  text-transform: uppercase;
}

.cards__subtitle {
  position: absolute;
  top: 45px;
  left: 70px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.5);
  text-align: left;
  width: 100px;
}

.cards__text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin-bottom: 15px;
}

.cards__date {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.5);
}

.circle {
  width: 46px;
  height: 46px;
  background-color: var(--accent-color);
  border-radius: 50%;
  position: absolute;
  z-index: 1; /* пока под вопросом */
  left: 10px;
  top: 3px;
}

/* ---------- NEWLETTER ------------- */

.newsletter {
  position: relative;
  justify-content: flex-end;
  flex-direction: column;
  background-image: url("../img/news_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.newsletter::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 80px;
  inset-block: 93%;
  inset-inline: 0;
  background: linear-gradient(0, #0b0b0b, transparent);
  z-index: 9999;
}

.newsletter__container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 250px;
  margin-right: 0; /* исправила поплывшую форму */
  height: 100%;
  gap: 30px;
}

.newsletter__subtitle {
  text-align: left;
}

.newsletter__text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 22px;
  max-width: 645px; /* ограничение ширины чтобы контент не вылезал за рамки */
}

.newsletter__form {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 17px;
  margin-top: 30px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.form__email {
  min-width: 367px;
  min-height: 60px;
  padding: 27px 20px 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.08);
  color: var(--accent-color);
}

.form__email::placeholder {
  color: var(--accent-color);
  font-size: 18px;
  opacity: 0.6;
}

.form__email:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.15);
}

.form__text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  inset-block: 7px;
  inset-inline: 20px; /* поменяла отступы */
  width: 130px;
  height: 14px;
}

/* ------------ FOOTER --------------- */

.footer {
  background-color: #000;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer__nav {
  padding: 0;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 50px;
}

.footer__social {
  margin: 0;
  padding: 15px 0 15px;
}

.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.social__item {
  padding: 0 10px;
}

.social__link {
  padding: 5px;
  color: inherit;
  transition: color 0.2s ease;
}

.social__link:hover {
  transition: color 0.2s ease;
}

.facebook-link:hover {
  color: #094798; 
}

.twitter-link:hover {
  color: #53bbfc;
}

.youtube-link:hover {
  color: #FF1313;
}

.twitch-link:hover {
  color: #9146ff;
}

.footer__logo {
  padding: 20px 5px 30px;
}

.footer__img {
  height: 90px;
  width: 90px;
  object-fit: contain;
  object-position: center; /* 12 коммент, пофиксила лого на футере (то же и на хэдер) */
}

.footer__copyright {
  width: 100%;
  max-height: 95px;
  padding: 40px 0 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright__text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  padding-right: 10px;
}

.copyright__docs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.copyright__item {
  position: relative;
  color: var(--text-color);
  padding: 5px;
  transition: all 0.2 ease;
}

.copyright__item:not(:last-child)::after {
  content: "";
  position: absolute;
  height: 15px;
  background-color: var(--text-color);
  width: 1px;
  inset-block: 7px;
  margin-left: 6px;
}

.docs__link {
  color: var(--text-color);
  padding: 5px;
}

/* ----------------- АДАПТИВ ---------------- */

@media (width <= 1192px) {
  .quotes {
    height: auto;
    flex-direction: column;
  }

  .quotes__container {
    margin: 0;
  }

  .quotes__title,
  .quotes__text {
    margin-bottom: 25px;
  }

  .quotes__btn {
    min-height: 44px;
    margin-bottom: 25px;
    padding: 20px;
  }

  .cards__container {
    margin: 0 0 auto 0;
  }

  .cards__item--1,
  .cards__item--2,
  .cards__item--3
   {
    transform: none;
  }

  .newsletter {
    background-position: right;
  }
}

@media (width <= 1040px) {
  .section__container {
    flex-wrap: wrap;
  }

  .home {
    padding-bottom: 0;
  }

  .about {
    padding: 60px;
    justify-content: center;
    flex-direction: column;
    height: auto;
  }

  .about__container {
    padding: 20px;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
  }

  .about__title {
    text-align: left;
  }

  .about__text {
    width: 100%;
    margin: 0 auto 20px;
  }

  .slider__container {
    width: 100%;
    margin: 0 auto;
    padding-left: 0;
    align-self: auto;
    max-width: 503px; /* исправить? */
    max-height: 610px; /* исправить? */
  }

  .slider {
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }

  .arrow-left,
  .arrow-right {
    width: 25px;
    height: 25px;
  }

  .slider__bottom {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .pagination-circle {
    width: 10px;
    height: 10px;
    margin: 0 5px;
  }

  .about__container-top,
  .about__container-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__social {
    margin: 0 auto;
  }
}

@media (width <= 801px) {
  .header__container {
    align-items: flex-start;
    padding: 10px;
  }

  .logo__img {
    width: 60px;
    height: auto;
  }

  .header__nav {
    display: none;
  }

  .header__right {
    justify-content: flex-end;
    width: 100%;
  }

  .menu__button {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
  }

  .header__language {
    padding-right: 10px;
    margin-right: 10px;
  }

  .icon__img {
    width: 20px;
    height: 20px;
  }

  .header__icons {
    display: none;
  }

  .requirements {
    padding: 20px;
  }

  .footer__img {
    width: 70px;
    height: 70px;
  }

  .newsletter {
    background-position: center;
  }
  
  .newsletter__form {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 33px;
    gap: 20px;
  }

  .form__text {
    inset-inline: 160px;
  }
}

@media (width <= 758px) {
  .footer__logo {
    margin: 0 auto ;
  }

  .footer__list {
    flex-wrap: wrap;
    padding: 15px;
  }
}

@media (width <= 660px) {
  .home {
    padding: 20px;
    text-align: center;
  }

  .home__title {
    font-size: 60px;
    letter-spacing: 3px;
    text-align: center;
  }

  .about__title {
    font-size: 60px;
    width: 330px;
  }

  .requirements__title {
    font-size: 60px;
  }

  .home__subtitle {
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
  }

  .home__btn {
    min-width: 256px;
    min-height: 54px;
    font-size: 16px;
    padding: 20px;
  }

  .features,
  .features__container {
    padding: 20px;
  }

  .features__title {
    font-size: 60px;
  }

  .features__subtitle {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .accordion__container {
    width: auto;
  }

  .accordion__title {
    font-size: 28px;
    text-align: left;
    min-width: auto;
  }

  .accordion__container.active-accordion .accordion__text {
    width: auto;
  }

  .requirements__sheet {
    align-self: auto;
  }

  .requirements__list {
    width: auto;
    height: auto;
  }

  .requirements__item {
    padding: 10px;
  }

  .requirements__item-title {
    margin: 0 0 5px;
  }

  .quotes {
    padding: 120px 20px;
  }

  .quotes__container {
    align-items: center;
  }

  .quotes__text {
    width: auto;
  }

  .quotes__title {
    font-size: 60px;
    text-align: center;
  }

  .cards__item {
    width: auto;
  }

  .newsletter {
     padding: 20px;
  }

  .newsletter__subtitle {
    font-size: 20px;
  }

  .newsletter__title {
    font-size: 60px;
  }

  .newsletter__text {
    width: auto;
  }

  .form__text {
    left: 3%;
    top: 10%;
    right: 0;
  }

  .form__email {
    width: auto;
  }

  .form__button {
    width: auto;
    padding: 15px;
  }
}

@media (width <= 576px) {
  .form__text {
    inset-block: 5px;
    inset-inline-start: 100px;
  }

  .about__title::after {
    width: 300px;
  }
}

@media (width <= 500px) {
  .header__popup {
    width: 100vw;
  }
}

@media (width <= 486px) {
  .form__text {
    left: 23%;
    top: 6%;
  }
}

@media (width <= 440px) {
  .title {
    font-size: 50px;
  }

  .about {
    padding: 20px;
  }

  .about__container {
    padding: 0;
  }

  .about__title {
    width: 300px;
  }

  .accordion__title {
    font-size: 21px;
  }

  .features__container {
    padding: 10px;
  }

  .form__email {
    min-width: auto;
  }

  .docs__link:not(:last-child)::after {
    inset-block: unset;
  }
}

@media (max-width: 326px) {
  .home {
    padding: 20px;
    text-align: center;
    min-height: 570px;
  }

  .home__container {
    margin-bottom: 140px;
  }

  .home__title {
    font-size: 33px;
    letter-spacing: 3px;
    text-align: center;
    width: 300px;
  }

  .home__subtitle {
    font-size: 18px;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 12px;
  }

  .home__btn {
    min-width: 216px;
    min-height: 44px;
    font-size: 14px;
    padding: 15px;
  }

  .story__container {
    margin-top: 20px;
    padding: 0;
    left: 20px;
    bottom: 10px;
  }

  .story__link {
    font-size: 12px;
  }

  .story__link::after {
    top: 25px;
    right: 20px;
  }

  .about {
    min-height: 689px;
    padding: 0;
    align-items: unset;
    justify-content: unset;
    flex-direction: column;
  }

  .about__container {
    padding: 20px;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    width: 320px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
  }

  .about__subtitle {
    font-size: 18px;
  }

  .about__title {
    font-size: 33px;
    width: 100%;
    margin-bottom: 25px;
  }

  .about__title::after {
    width: 150px;
  }

  .about__text {
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    margin: 0 auto 20px;
  }

  .slider__container {
    width: 100%;
    margin: 0;
    padding-left: 0;
  }

  .slider {
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }

  .arrow-left,
  .arrow-right {
    width: 25px;
    height: 25px;
  }

  .slider__bottom {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .pagination-circle {
    width: 10px;
    height: 10px;
    margin: 0 5px;
  }

  .about__container-top,
  .about__container-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .features {
    min-height: 515px;
    padding: 0 20px;
    background-size: cover;
  }

  .features__container {
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 40px;
  }

  .features__info {
    text-align: left;
  }

  .features__title {
    font-size: 33px;
  }

  .features__subtitle {
    font-size: 18px;
    margin-bottom: 10px;
    width: 160px;
  }

  .accordion {
    width: 100%;
    transform: none;
  }

  .accordion__container {
    width: 320px;
    margin-bottom: 10px;
  }

  .accordion__title {
    font-size: 21px;
    text-align: left;
    max-width: 320px;
  }

  .accordion__title::before {
    top: 10px;
    left: -25px;
  }

  .accordion__container.active-accordion .accordion__text {
    width: 250px;
  }

  .accordion__content {
    font-size: 14px;
    width: 100%;
    text-align: left;
  }

  .requirements {
    min-width: 320px;
    min-height: 719px;
    padding: 0 15px;
  }

  .requirements__container {
    padding: 0;
  }

  .requirements__subtitle {
    font-size: 18px;
    width: 320px;
  }

  .requirements__title {
    font-size: 33px;
    text-align: center;
    width: 310px;
  }

  .requirements__sheet {
    padding-top: 40px;
    align-self: auto;
    margin-top: 50px;
  }

  .requirements__list {
    min-width: 290px;
    min-height: 348px;
  }

  .requirements__item {
    padding: 10px;
  }

  .requirements__item-title {
    font-size: 18px;
    margin: 0 0 5px;
  }

  .requirements__item-text {
    font-size: 14px;
  }

  .quotes {
    min-width: 320px;
    min-height: 984px;
    flex-direction: column;
    align-items: unset;
    padding: 40px 20px;
  }

  .quotes__container {
    margin: 0;
    padding-top: 35px;
  }

  .quotes__subtitle {
    font-size: 18px;
  }

  .quotes__title {
    font-size: 33px;
    margin-bottom: 25px;
  }

  .quotes__text {
    font-size: 14px;
    margin-bottom: 25px;
    width: 100%;
  }

  .quotes__btn {
    min-width: 216px;
    min-height: 44px;
    font-size: 14px;
    margin: 0 auto 25px;
    padding: 5px;
  }

  .cards__item {
    min-width: 290px;
    padding: 10px;
    margin-bottom: 5px;
  }

  .cards__item--1,
  .cards__item--2,
  .cards__item--3
   {
    transform: none;
  }

  .newsletter {
    min-width: 320px;
    min-height: 523px;
    background-position: center;
  }

  .newsletter__container {
    width: 320px;
    align-items: flex-end;
    gap: 15px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .newsletter__subtitle {
    font-size: 18px;
    padding-top: 44px;
    margin-right: 60px;
  }

  .newsletter__title {
    font-size: 33px;
    margin-left: 70px;
  }

  .newsletter__text {
    font-size: 14px;
    width: 189px;
    margin-right: 60px;
    margin-bottom: 10px;
  }

  .newsletter__form {
    margin-top: 0;
    margin-right: 50px;
    flex-direction: column;
    justify-content: center;
  }

  .form__email {
    min-width: 260px;
    min-height: 44px;
    font-size: 12px;
    margin: 0;
  }

  .form__text {
    width: 178px; /* исправить? */
    inset-block: 3px;
    inset-inline-start: 20px;
  }

  .form__button {
    min-width: 260px;
    min-height: 44px;
    font-size: 14px;
    padding: 5px;
    margin-left: 0;
  }

  .footer {
    min-width: 320px;
    min-height: 493px;
  }

  .footer__container {
    justify-content: center;
    align-items: center;
  }

  .footer__logo {
    width: 50px;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .footer__nav {
    margin-bottom: 10px;
  }

  .footer__list {
    flex-direction: row;
    width: 280px;
    flex-wrap: wrap;
    gap: 25px;
  }

  .footer__social {
    gap: 45px;
    margin-bottom: 10px;
  }

  .footer__copyright {
    flex-direction: column;
    padding-top: 20px;
    gap: 35px;
  }

  .copyright__text {
    font-size: 12px;
  }

  .copyright__docs {
    width: 150px;
    text-align: center;
  }
}
