/*----------- СБРОС СТИЛЕЙ ----------*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  block-size: 100%;
}

html,
body {
  height: 100%;
  margin: 0 auto;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--text-color);
}

a:hover {
  color: var(--accent-color);
  transition: all 0.2s ease;
}

/* -------- ОСНОВНЫЕ СТИЛИ -------- */
.section {
  height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 0 15px; */
}

.visibly-hidden {
  visibility: hidden;
}

.wrapper {
  background-image: url("../img/home_bg.jpg"); /* /sos/img/home_bg.jpg */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  font-size: 80px;
  letter-spacing: 3px;
  line-height: 1;
  text-transform: uppercase;
}

.subtitle {
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

picture img {
  max-width: 100%;
  height: auto;
  display: block;
}

.header__menu-btn {
  display: none;
}

/* ---------- HEADER -------------- */

.header__container {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  padding: 0;
  margin: 0 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
}

.header__logo img {
  width: 55px;
  height: 55px; /* 4 коммент, пофиксила размер лого в хедере */
  object-fit: contain;
  object-position: center;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.header__item:not(:last-child) {
  margin-right: 40px;
}

.nav-link {
  text-transform: uppercase;
  color: var(--text-color);
  padding: 10px; /* 5 коммент, добавила паддинги и поменяла внешние отступы в навигацию хэдера (в футер тоже) */
}

.header__nav-right {
  display: flex;
  align-items: center;
}

.header__nav-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 999;
}

.header__nav-popup.active-popup {
  visibility: visible;
  opacity: 1;
}

.header__popup-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.header__popup-link:hover {
  color: var(--accent-color);
}

.header__popup-link {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2px;
}

.header__popup-icon {
  width: 30px;
  height: auto;
  margin: 0 10px;
}

.header__icons {
  display: flex;
  align-items: center;
}

.header__link-icon {
  margin-right: 17px;
  width: 35px;
  height: 35px;
  position: relative;
  padding: 5px;
}

.header__link-icon img {
  transition:  all 0.2s ease;
}

.header__link-icon img:hover {
  filter: brightness(0.8);
}

.header__language {
  border-right: solid 1px var(--text-color);
  padding-right: 15px;
  margin-right: 15px;
  height: 30px;
  display: flex;
  position: relative;
}

.header__language-btn {
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  color: var(--text-color);
  border: none;
  padding: 5px;
  padding-right: 25px;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  transition: all 0.2s ease;
}

.header__language-btn:hover {
  color: var(--accent-color);
}

.header__language-btn::after {
  content: "";
  position: absolute;
  top: 40%;
  right: 8px;
  width: 10px;
  height: 7px;
  background: url("../img/arrow.svg") center/cover no-repeat;
}

.header__language-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 55px;
  position: absolute;
  top: 100%;
  left: -5px;
  background-color: var(--dark-color);
  border-radius: 5px;
  padding: 5px;
}

.header__language-btn-select {
  background: var(--dark-color);
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  border: none;
  font-weight: 700;
  font-size: 12px;
}

.header__language-btn-select:hover {
  color: var(--accent-color);
}

/* --------- HOME ----------- */

.home {
  position: relative; /* зафиксировала стрелочку */
  width: 100%;
  height: 960px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.home::before { /* реализовала градиентную тень в первой секции */
  content: "";
  position: absolute;
  width: 100vw;
  height: 100px;
  inset-block: 90%;
  inset-inline: 0px;
  background: linear-gradient(0, #000, transparent);
}

.home__container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 170px;
  justify-content: center;
  align-items: center;
}

.home__title {
  margin: 0 auto; /* 2 коммент, центрировала заголовок */
}

.home__subtitle {
  margin-bottom: 28px;
}

.btn {
  background-color: var(--accent-color);
  color: var(--dark-color);
  border: none;
  min-height: 60px;
  height: auto; /* 1 коммент, исправлена высота кнопки, убрала фиксированную */
  padding: 5px 10px;
  width: 260px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn:hover {
  background-color: var(--text-color);
}

.story__container {
  display: flex;
  position: absolute;
  inset-block-end: 50px; /* 3 коммент, пофиксила позиционирование кнопки */
}

.story__link {
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  border: none;
  font-weight: 700;
  color: var(--text-color); /* 3 коммент, пофиксила цвет кнопки */
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px;
  padding-bottom: 25px;
}

.story__link::after {
  content: "";
  position: absolute;
  top: 60%;
  right: 25px;
  width: 25px;
  height: 11px;
  background: url("../img/scroll_down.svg") no-repeat;
}


/* --------- ABOUT ----------- */

.about {
  width: 100%;
  height: 960px;
  padding: 120px;
  padding-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/about_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about__container {
  position: relative;
  padding: 0;
  width: min(100%, 700px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.about__title {
  width: 420px;
  position: relative;
  padding-bottom: 10px; 
}

.about__title::after {
  content: "";
  position: absolute;
  width: 450px;
  height: 3px;
  background-color: var(--text-color);
  left: 0; /* 6 коммент, пофиксила расположение псевдоэлемента */
  bottom: 0;
}

.about__subtitle {
  text-align: left;
}

.about__text {
  font-family: "Open Sans", sans-serif;
  line-height: 22px;
  font-size: 18px;
  inline-size: 365px;
  align-self: end;
  padding-top: 30px;
}

.about__text .underline-span {
  text-decoration: 4px solid underline var(--accent-color);
}

.separate-span {
  display: block;
  margin-top: 20px;
}

/* --------- ABOUT SLIDER --------- */

.slider__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  margin-left: 0;
  align-self: end;
  padding-bottom: 30px;
}

.slider__container-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  inline-size: 503px;
  block-size: 610px;
  overflow: hidden;
  border-radius: 10px;
  transition: 1s ease-in-out;
}

.slider__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.arrow-left {
  margin-right: 15px;
  cursor: pointer;
  padding: 5px;
  transition: all 0.2s ease;
}

.arrow-left:hover {
  filter: brightness(0.7);
}

.arrow-right {
  margin-left: 15px;
  cursor: pointer;
  padding: 5px;
  transition: all 0.2s ease;
}

.arrow-right:hover {
  filter: brightness(0.7);
}

.block {
  display: block;
}

.pagination-circle {
  width: 15px;
  height: 15px;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  cursor: pointer;
}

.active {
  background-color: var(--text-color);
}

.slider__container-bottom {
  display: flex;
  column-gap: 52px;
}

/*------------ FEATURES --------*/

.features {
  width: 100%;
  height: 960px;
  padding: 0 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../img/features_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.features__container {
  width: auto;
  height: 100%;
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 70px;
  margin-right: 0;
}

.features__info {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.features__title {
  text-align: left;
}

.features__subtitle {
  text-align: left;
}

/* ---------- FEATURES ACCORDION ------------- */

.accordion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.accordion__container {
  position: relative;
  padding: 0 10px;
  max-width: 460px; /* 8 коммент, вроде как пофиксила переполнение */
}

.accordion__container:not(:last-child) { 
  /* 7 коммент, пофиксила отступы и поменяла разметку на семантически верную */
  margin-bottom: 15px;
}

.accordion__title {
  position: relative;
  font-family: "Bebas Neue", sans-serif;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--accent-color);
  min-width: 450px;
  cursor: pointer;
  padding: 5px;
  transition: all 0.2s ease;
}

.accordion__text p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 22px;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 363px;
}

.accordion__text {
  max-height: 0;
  overflow: hidden;
}

.accordion__title::before {
  content: "";
  border: 1px solid var(--text-color);
  border-radius: 50%;
  width: 14px;
  height: 14px;
  position: absolute;
  overflow: hidden;
  inset-inline: -25px;
  inset-block: 20px;
}

.accordion__title:hover {
  color: var(--text-color);
}

.accordion__container.active-accordion {
  margin-bottom: 0;
  padding-bottom: 10px;
}

.accordion__container.active-accordion .accordion__title::before {
  background-color: var(--text-color);
}

.accordion__container.active-accordion .accordion__text {
  max-height: 77px;
  background-color: none;
}

.accordion__container::after { /* вроде как решила вопрос с линией аккордеона, привязав псевдоэлемент к контейнеру, а не title */
  content: "";
  position: absolute;
  height: 0;
  width: 2px;
  top: 35px;
  bottom: 0;
  left: -10px;
  background-color: var(--text-color);
  transition: height 0.3s ease;
}

.accordion__container.active-accordion::after {
  height: 90%;
}

/* ------------------- REQUIREMENTS ----------- */

.requirements {
  width: 100%;
  height: 960px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("../img/req_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px;
}

.requirements__container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.requirements__sheet {
  align-self: flex-start;
  margin-top: 120px; /* 9 коммент, поменяла паддинг на марджин */
}

.requirements__title {
  text-align: center;
}

.requirements__list {
  display: grid;
  width: 573px;
  height: 400px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  background-color: transparent;
  border: 1px solid #979797;
}

.requirements__item {
  border: 1px solid #979797;
  padding-left: 18px;
  padding: 10px 10px; /* пофиксила паддинги таблицы */
  padding-top: 15px;
}

.requirements__item-title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--accent-color);
  margin: 0 0 10px 0;
}

.requirements__item-text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 22px;
}

.requirements__item-wide {
  grid-column: span 2;
}

/* -------------- QUOTES ----------- */

.quotes {
  width: 100%;
  height: 960px;
  padding: 120px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: url("../img/quotes_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.quotes__container {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  margin-right: 30px;
}

.quotes__text {
  font-family: "Open Sans", sans-serif;
  line-height: 22px;
  font-size: 18px;
  width: 435px;
  margin-bottom: 53px;
}

.quotes__subtitle {
  text-align: left;
  margin-bottom: 10px;
}

.quotes__title {
  margin-bottom: 35px;
}

.quotes__btn {
  margin: 0;
}

/*---------------- QUOTES CARDS ---------*/

.cards__container {
  margin: 0 auto;
  margin-right: 60px;
}

.cards__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative; /* добавила */
}

.cards__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  position: relative;
}

.cards__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 480px;
  flex-wrap: wrap;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.08);
  padding: 15px;
  border-radius: 10px;
  position: relative;
  margin-bottom: 15px;
}

.cards__item:nth-child(1) {
  transform: translateX(60px);
}

.cards__item:nth-child(2) {
  transform: translateX(-60px);
}

.cards__item:nth-child(3) {
  transform: translateX(20px); /* пофиксила отступ */
}

.cards__link {
  width: 280px;
}

.cards__link img {
  position: absolute;
  right: 0;
  inset-block: 10px; /* вроде как пофиксила иконку в карточке, отступы */
  width: 29px;
  height: 29px;
  padding: 5px;
  transition: all 0.2 ease;
}

.cards__link img:hover {
  filter: brightness(0.7);
}

.cards__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.cards__title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 600;
  color: var(--accent-color);
  text-transform: uppercase;
}

.cards__subtitle {
  position: absolute;
  top: 45px;
  left: -38px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  width: 300px;
}

.cards__text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin-bottom: 15px;
}

.cards__date {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.5);
}

.circle {
  width: 46px;
  height: 46px;
  background-color: var(--accent-color);
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  left: 10px;
  top: 3%;
}

/* ---------- NEWLETTER ------------- */

.newsletter {
  width: 100%;
  height: 725px;
  padding: 120px; /* пофиксила отступы */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  background-image: url("../img/news_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.newsletter__container {
  margin-right: 0; /* исправила поплывшую форму */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  gap: 20px;
}

.newsletter__subtitle {
  text-align: left;
}

.newsletter__text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 22px;
  width: 645px;
}

.newsletter__form-container {
  display: flex;
  flex-direction: row;
  gap: 17px;
  margin-top: 63px;
  position: relative;
}

.newsletter__form-email {
  width: 367px;
  height: 60px;
  padding: 10px 20px;
  padding-top: 27px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.08);
  color: var(--accent-color);
}

/* .newsletter__form-email:placeholder-shown {   11 коммент, накинула прозрачности плейсхолдеру
  opacity: 0.6;
} */

.newsletter__form-email::placeholder {
  color: var(--accent-color);
  font-size: 18px;
  opacity: 0.6;
}

.newsletter__form-email:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.15);
}

.newsletter__form-text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  inset-block: 7px;
  inset-inline: 20px; /* поменяла отступы */
}

/* ------------ FOOTER --------------- */

.footer {
  background-color: #000;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  flex-wrap: wrap;
}

.footer__nav {
  padding: 0;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 50px;
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 55px;
  margin: 0 auto;
  padding: 15px;
}

.footer__social-link {
  padding: 5px;
  color: inherit;
  transition: color 0.2s ease;
}

.footer__social-link:hover {
  transition: color 0.2s ease;
}

.facebook-link:hover {
  color: #094798; 
}

.twitter-link:hover {
  color: #53bbfc;
}

.youtube-link:hover {
  color: #FF1313;
}

.twitch-link:hover {
  color: #9146ff;
}

.footer__logo {
  padding: 5px;
  padding-bottom: 30px;
  padding-top: 20px;
}

.footer__logo img {
  height: 90px;
  width: 90px;
  object-fit: contain;
  object-position: center; /* 12 коммент, пофиксила лого на футере (то же и на хэдер) */
}

.footer__copyright {
  width: 100%;
  max-height: 95px;
  padding: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__copyright-text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  padding-right: 10px;
}

.footer__copyright-docs {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.footer__copyright-docs a { /* 13 коммент, изменила разметку элементов */
  color: var(--text-color);
  padding: 5px;
  transition: all 0.2 ease;
}

.footer__copyright-docs a:hover {
  color: var(--accent-color);
}


/* ----------------- АДАПТИВ ---------------- */

/* @media (min-width: 1041px) and (max-width: 1329px) {
  .about__title::after {
    width: 450px;
}
} */

@media (width <= 1192px) {
  .quotes {
    height: auto;
    flex-direction: column;
  }

  .quotes__container {
    margin: 0;
  }

  .quotes__title {
    margin-bottom: 25px;
  }

  .quotes__text {
    margin-bottom: 25px;
  }

  .quotes__btn {
    height: 44px;
    margin-bottom: 25px;
  }

  .cards__container {
    margin-right: 0;
    margin: 0 auto;
  }

  .cards__item:nth-child(1) {
    transform: none;
  }

  .cards__item:nth-child(2) {
    transform: none;
  }

  .cards__item:nth-child(3) {
    transform: none;
  }

}

@media (width <= 1040px) {
  .home {
    padding-bottom: 0;
  }

  .about {
    padding: 60px;
    justify-content: center;
    flex-direction: column;
    height: auto;
  }

  .about__container {
    padding: 20px;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
  }

  .about__title {
    text-align: left;
  }

  .about__text {
    width: 100%;
    margin: 0 auto 20px auto;
  }

  .slider__container {
    width: 100%;
    margin: 0 auto;
    padding-left: 0;
    align-self: auto;
    max-inline-size: 503px;
    max-block-size: 610px;
  }

  /* .slider-container-top {
    max-inline-size: 503px;
    max-block-size: 610px;
  } */

  .slider {
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }

  .arrow-left,
  .arrow-right {
    width: 25px;
    height: 25px;
  }

  .slider__container-bottom {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .pagination-circle {
    width: 10px;
    height: 10px;
    margin: 0 5px;
  }

  .about__container-top,
  .about__container-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

@media (width <= 801px) {
  .header__container {
    align-items: flex-start;
    padding: 10px;
  }

  .header__logo img {
    width: 60px;
    height: auto;
  }

  .header__nav {
    display: none;
  }

  .header__nav-right {
    justify-content: flex-end;
    width: 100%;
  }

  .header__menu-btn {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
  }

  .header__language {
    padding-right: 10px;
    margin-right: 10px;
  }

  .header__link-icon img {
    width: 20px;
    height: 20px;
  }

  .header__icons {
    display: none;
  }

  .requirements {
    padding: 20px;
  }

  .footer__logo img {
    width: 70px;
    height: 70px;
  }

}

@media (width <= 685px) {
  .footer__logo {
    margin: 0 auto ;
  }

  .footer__list {
    flex-wrap: wrap;
    padding: 15px;
  }
}

@media (width <= 660px) {
  .home {
    padding: 20px;
    text-align: center;
  }

  .home__title {
    font-size: 60px;
    letter-spacing: 3px;
    text-align: center;
  }

  .about__title {
    font-size: 60px;
  }

  .requirements__title {
    font-size: 60px;
  }

  .home__subtitle {
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
  }

  .home__btn {
    width: 256px;
    height: 54px;
    font-size: 16px;
  }

  .features {
    padding: 20px;
  }

  .features__container {
    padding: 20px;
  }

  .features__title {
    font-size: 60px;
  }

  .features__subtitle {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .accordion__container {
    width: auto;
  }

  .accordion__title {
    font-size: 28px;
    text-align: left;
    min-width: auto;
  }

  .accordion__text {
    width: auto;
  }

  .requirements__sheet {
    align-self: auto;
  }

  .requirements__list {
    width: auto;
    height: auto;
  }

  .requirements__item {
    padding: 10px;
  }

  .requirements__item-title {
    margin: 0 0 5px 0;
  }

  .quotes {
    padding: 120px 20px;
  }

  .quotes__container {
    align-items: center;
  }

  .quotes__text {
    width: auto;
  }

  .quotes__title {
    font-size: 60px;
    text-align: center;
  }

  .cards__item {
    width: auto;
  }

  .newsletter {
     padding: 20px;
  }

  .newsletter__container {
    margin: 0 auto;
  }

  .newsletter__subtitle {
    font-size: 20px;
  }

  .newsletter__title {
    font-size: 60px;
  }

  .newsletter__text {
    width: auto;
  }

  .newsletter__form-text {
    left: 3%;
    top: 10%;
    right: 0;
  }

  .newsletter__form-container {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 33px;
  }

  .newsletter__form-email {
    width: auto;
  }

  .newsletter__form-btn {
    width: auto;
    padding: 15px;
  }

}

@media (width <= 500px) {
  .header__nav-popup {
    width: 320px;
  }
}

@media (width <= 486px) {
  .newsletter__form-text {
    left: 23%;
    top: 6%;
  }
}

@media (width <= 440px) {
  .title {
    font-size: 50px;
  }

   .about {
    padding: 20px;
  }

  .accordion__title {
    font-size: 21px;
  }

  .features__container {
    padding: 10px;
  }

}

@media (max-width: 326px) {
  .home {
    padding: 20px;
    text-align: center;
    height: 570px;
  }

  .home__container {
    margin-bottom: 140px;
  }

  .home__title {
    font-size: 33px;
    letter-spacing: 3px;
    text-align: center;
    width: 300px;
  }

  .home__subtitle {
    font-size: 18px;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 12px;
  }

  .home__btn {
    width: 216px;
    height: 44px;
    font-size: 14px;
  }

  .story__container {
    margin-top: 20px;
    padding: 0px;
    top: 500px;
    right: 230px; /* поменять! */
  }

  .story__link {
    font-size: 12px;
  }

  .story__link::after {
    top: 25px;
    right: 20px;
  }

  .about {
    height: 689px;
    padding: 0;
    align-items: unset;
    justify-content: unset;
    flex-direction: column;
  }

  .about__container {
    padding: 20px;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    width: 320px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
  }

  .about__subtitle {
    font-size: 18px;
  }

  .about__title {
    font-size: 33px;
    width: 100%;
    margin-bottom: 25px;
  }

  .about__title::after {
    width: 306px;
  }

  .about__text {
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    margin: 0 auto 20px auto;
  }

  .slider__container {
    width: 100%;
    margin: 0;
    padding-left: 0;
  }

  .slider {
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }

  .arrow-left,
  .arrow-right {
    width: 25px;
    height: 25px;
  }

  .slider__container-bottom {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .pagination-circle {
    width: 10px;
    height: 10px;
    margin: 0 5px;
  }

  .about__container-top,
  .about__container-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .features {
    height: 515px;
    padding: 0px 20px;
    background-size: cover;
  }

  .features__container {
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 40px;
  }

  .features__info {
    text-align: left;
  }

  .features__title {
    font-size: 33px;
  }

  .features__subtitle {
    font-size: 18px;
    margin-bottom: 10px;
    width: 160px;
  }

  .accordion {
    width: 100%;
    transform: none;
  }

  .accordion__container {
    width: 320px;
    margin-bottom: 10px;
  }

  .accordion__title {
    font-size: 21px;
    text-align: left;
    max-width: 320px;
  }

  .accordion__title::before {
    top: 10px;
    left: -25px;
  }

  .accordion__title::after {
    left: -19px;
    top: 24px;
  }

  .accordion__container.active-accordion .accordion__title::after {
    height: 107px;
  }

  .accordion__text p {
    font-size: 14px;
    width: 100%;
    text-align: left;
  }

  .requirements {
    width: 320px;
    height: 719px;
    padding: 0 15px;
  }

  .requirements__container {
    padding: 0;
  }

  .requirements__subtitle {
    font-size: 18px;
    width: 320px;
  }

  .requirements__title {
    font-size: 33px;
    text-align: center;
    width: 310px;
  }

  .requirements__sheet {
    padding-top: 40px;
    align-self: auto;
  }

  .requirements__list {
    width: 290px;
    height: 348px;
  }

  .requirements__item {
    padding: 10px;
  }

  .requirements__item-title {
    font-size: 18px;
    margin: 0 0 5px 0;
  }

  .requirements__item-text {
    font-size: 14px;
  }

  .quotes {
    width: 320px;
    height: 984px;
    flex-direction: column;
    align-items: unset;
  }

  .quotes__container {
    margin: 0;
    padding-top: 35px;
  }

  .quotes__subtitle {
    font-size: 18px;
  }

  .quotes__title {
    font-size: 33px;
    margin-bottom: 25px;
  }

  .quotes__text {
    font-size: 14px;
    margin-bottom: 25px;
    width: 100%;
  }

  .quotes__btn {
    width: 216px;
    height: 44px;
    font-size: 14px;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .cards__item {
    width: 290px;
    margin-bottom: 5px;
    padding: 10px;
    margin-left: 15px;
  }

  .cards__item:nth-child(1) {
    transform: none;
  }

  .cards__item:nth-child(2) {
    transform: none;
  }

  .cards__item:nth-child(3) {
    transform: none;
  }

  .newsletter {
    width: 320px;
    height: 523px;
    background-position: center;
  }

  .newsletter__container {
    width: 320px;
    align-items: flex-end;
    gap: 15px;
    margin-right: 0;
  }

  .newsletter__subtitle {
    font-size: 18px;
    padding-top: 44px;
  }

  .newsletter__title {
    font-size: 33px;
    margin-left: 100px;
  }

  .newsletter__text {
    font-size: 14px;
    width: 189px;
  }

  .newsletter__form-container {
    margin-top: 0px;
    flex-direction: column;
    justify-content: center;
  }

  .newsletter__form-email {
    width: 290px;
    height: 44px;
    font-size: 12px;
  }

  .newsletter__form-text {
    font-size: 12px;
    width: 178px;
    right: 33%;
    top: 3%;
  }

  .newsletter__form-btn {
    margin: 0;
    width: 290px;
    height: 44px;
    font-size: 14px;
  }

  .footer {
    width: 320px;
    height: 493px;
  }

  .footer__container {
    justify-content: center;
    align-items: center;
  }

  .footer__logo {
    width: 50px;
    margin-top: 30px;
    padding: 0;
    margin-bottom: 40px;
  }

  .footer__nav {
    margin-bottom: 42px;
  }

  .footer__list {
    flex-direction: row;
    width: 280px;
    flex-wrap: wrap;
    gap: 25px;
  }

  .footer__social {
    gap: 45px;
    margin-bottom: 42px;
  }

  .footer__copyright {
    flex-direction: column;
    padding-top: 20px;
    gap: 35px;
  }

  .footer__copyright-text {
    font-size: 12px;
  }

  .footer__copyright-docs {
    width: 150px;
    text-align: center;
  }
}
